<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <p><strong class="title">Get fit and look fab in new seasonal styles</strong> <span class="action more button">Shop
            New Yoga</span></p>
    <div class="block-promo-wrapper block-promo-hp">
       
        <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
            <span class="image">
                <img src="{{media url="wysiwyg/home/home-t-shirts.png"}}" alt="">
            </span>
            <span class="content"> <strong class="title">Even more ways to mix and match</strong>
                <span class="info">Buy 3 Luma tees get a 4th free</span>
                <span class="action more icon">Shop Tees</span>
            </span>
        </a>
        <a class="block-promo home-erin" href="{{store url=""}}collections/erin-recommends.html">
            <img src="{{media url="wysiwyg/home/home-erin.jpg"}}" alt="">
            <span class="content">
                <strong class="title">Take it from Erinnnnn</strong>
                <span class="info">Luma founder Erin Renny shares her favorites!</span>
            </span>
        </a>
        <a class="block-promo home-erin" href="{{store url=""}}collections/erin-recommends.html">
            <img src="{{media url="wysiwyg/home/home-erin.jpg"}}" alt="">
            <span class="content">
                <strong class="title">Take it from Erin</strong>
                <span class="info">Luma founder Erin Renny shares her favorites!</span>
            </span>
        </a>
        <a class="block-promo home-pants" href="{{store url=""}}promotions/pants-all.html">
            <img src="{{media url="wysiwyg/home/home-pants.jpg"}}" alt="">
            <span class="content"> <strong class="title">20% OFF</strong> <span class="info">Luma pants when you shop
                    today*</span>
                <span class="action more icon">Shop Pants</span>
            </span>
        </a>
    </div>
    <div class="block-promo-wrapper block-promo-hp">
        <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
            <span class="image">
                <img src="{{media url="wysiwyg/home/home-t-shirts.png"}}" alt="">
            </span>
            <span class="content"> <strong class="title">Even more ways to mix and match</strong>
                <span class="info">Buy 3 Luma tees get a 4th free</span>
                <span class="action more icon">Shop Tees</span>
            </span>
        </a>
        <a class="block-promo home-pants" href="{{store url=""}}promotions/pants-all.html">
            <img src="{{media url="wysiwyg/home/home-pants.jpg"}}" alt="">
            <span class="content"> <strong class="title">20% OFF</strong> <span class="info">Luma pants when you shop
                    today*</span>
                <span class="action more icon">Shop Pants</span>
            </span>
        </a>
        <a class="block-promo home-erin" href="{{store url=""}}collections/erin-recommends.html">
            <img src="{{media url="wysiwyg/home/home-erin.jpg"}}" alt="">
            <span class="content">
                <strong class="title">Take it from Erin</strong>
                <span class="info">Luma founder Erin Renny shares her favorites!</span>
            </span>
        </a>
        <a class="block-promo home-pants" href="{{store url=""}}promotions/pants-all.html">
            <img src="{{media url="wysiwyg/home/home-pants.jpg"}}" alt="">
            <span class="content"> <strong class="title">20% OFF</strong> <span class="info">Luma pants when you shop
                    today*</span>
                <span class="action more icon">Shop Pants</span>
            </span>
        </a>
    </div>




    <p><img src="{{media url="wysiwyg/main-banner-left-01.jpg"}}" alt="" width="574" height="260">&nbsp; &nbsp; &nbsp;&nbsp;</p>
<p><img src="{{media url="wysiwyg/main-banner-left-02.jpg"}}" alt="" width="224" height="271"> <img src="{{media url="wysiwyg/main-banner-left-03.jpg"}}" alt="" width="347" height="271"></p>
</body>

</html>