<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** * Template for filter items block * * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer */ ?> <?php ?> <?php if($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price ):?> <?php $range = $this->getPriceRange($filter);?> <?php $url = $this->getFilterUrl($filter);?> <script>
var price_url = "<?=$url;?>";
require([
    'jquery',
    'priceUtils',
    "jquery/ui",
    'domReady!'
], function($,utils){
    updateLabel = function() {
        var priceFormat = <?php /* @escapeNotVerified */ echo $this->helper('Magento\Tax\Helper\Data')->getPriceFormat($block->getStore()); ?>;
        var min = utils.formatPrice($( "#price-slider" ).slider( "values", 0 ), priceFormat);
        var max = utils.formatPrice($( "#price-slider" ).slider( "values", 1 ), priceFormat);
        $( "#amount" ).val(min + " - " + max);
    };
    $("div#price-slider").slider({
			range: true,
			min: <?=$range['min']?>,
			max: <?=$range['max']?>,
			values: [ <?=$range['min']?>, <?=$range['max']?> ],
			slide: function( event, ui ) {
				updateLabel();
			},
			change: function( event, ui ) {
            
				window.location.href = price_url.replace("price=","price="+ui.values[0]+"-"+ui.values[1]);
			}
		});
		updateLabel();
});</script><p><label for="amount"><?= __('Price range:') ?></label> <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;"></p><div id="price-slider"></div><?php else:?> <ol class="items"><?php foreach ($filterItems as $filterItem): ?> <li class="my item"><?php if ($filterItem->getCount() > 0): ?> <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>"><?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?> <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?> <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1):?> <?php /* @escapeNotVerified */ echo __('item')?><?php else:?> <?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span> <?php endif; ?></a> <?php else:?> <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?> <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?> <span class="count"><?php /* @escapeNotVerified */ echo $filterItem->getCount()?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1):?><?php /* @escapeNotVerified */ echo __('item')?><?php else:?><?php /* @escapeNotVerified */ echo __('items') ?><?php endif;?></span></span> <?php endif; ?> <?php endif; ?></li> <?php endforeach ?></ol><?php endif;?>