<?php $_product = $block->getProduct(); ?> <?php $buttonTitle = __('Add to Cart'); ?> <?php if ($_product->isSaleable()): ?> <div class="box-tocart"><div class="fieldset"><?php if ($block->shouldRenderQuantity()): ?> <div class="field qty"><!-- <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label> --><div class="control"><span class="minus"><button type="button" title="<?= __('Reduce the quantity'); ?>">-</button></span> <input type="number" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" /><span class="plus"><button type="button" title="<?= __('Increase the quantity'); ?>" />+</button></span> <script type="text/javascript">
                    
                    require(['jquery'], function($) {
                        $('.box-tocart .minus').on('click', function() {
                            var qty = parseInt($('#qty').val());
                            qty = qty - 1;
                            $('#qty').val(qty).trigger('change');
                        });
                        $('.box-tocart .plus').on('click', function() {
                            var qty = parseInt($('#qty').val());
                            qty = qty + 1;
                            $('#qty').val(qty).trigger('change');
                        });
                        $('#qty').on('change', function() {
                            var qty = parseInt($(this).val());
                            if (qty > 100) {
                                $(this).val('100');
                            } else if (qty < 1) {
                                $(this).val('1');
                            }
                        });
                    });</script></div></div><?php endif; ?> <div class="actions"><button type="submit" title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>" class="action primary tocart" id="product-addtocart-button"><span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span></button> <?php echo $block->getChildHtml('', true) ?></div></div></div><?php endif; ?> <?php if ($block->isRedirectToCartEnabled()) : ?> <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }</script><?php else : ?> <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }</script><?php endif; ?>