<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */ ?> <?php if ($block->isWishListAllowed()) : ?> <a href="#" class="action towishlist" data-post='<?= /* @noEscape */ $block->getWishlistParams() ?>' data-action="add-to-wishlist"><span class="add_wishlist_modify"><?= $block->escapeHtml(__('Add 1 to Wish List')) ?></span></a> <?php endif; ?> <script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */ $block->getWishlistOptionsJson() ?>
        }
    }</script>